# List Compregension and readibility

In [4]:
# notice which example below is easier to read, a) or b)
# a)
symbols = '$¢£¥€¤'
codes = []
for i in symbols:
    codes.append(ord(i))

# b)
symbols = '$¢£¥€¤'
codes = [ord(i) for i in symbols]

# listcomps are more readable because its intent is explicit

##### Tip: line breaks are ignored inside pairs of [], {}, or () so you dont have to use slash \

----
### Listcomps Versus map and filter - return same effect:

In [6]:
# listcomp:
symbols = '$¢£¥€¤'
codes = [ord(i) for i in symbols if ord(i) > 127]

# map and filter:
symbols = '$¢£¥€¤'
codes = list(filter(lambda c: c > 127, map(ord, symbols)))

##### Lets say we want Cartesian Products. say we have t shirts with S M L sizes and two colors black and white. We can easy do:

In [30]:
sizes = ['S', 'M', 'L']       # or 'S M L'.split()
colors = ['Black', 'White']   # or 'Black White'.split()
t_shrts = [(color, size) for color in colors # generate list of tuples arranged by color then size
                         for size in sizes]  # treat this as row-col
# /\ look at Tip above; btw, remember Card example from book "Fluent Python"? /\
print(t_shrts)

[('Black', 'S'), ('Black', 'M'), ('Black', 'L'), ('White', 'S'), ('White', 'M'), ('White', 'L')]

#### Listcomps are a one-trick pony: they build lists. To fill up other sequence types, a genexp is the way to go

---
# GenExp

##### Cartesian product in a generator expression:

In [36]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
# The generator expression yields items one by one; a list with all six T-shirt variations is never produced in this example:
for tshirt in ('%s %s' % (c, s) for c in colors for s in sizes): 
    print(tshirt)

black S
black M
black L
white S
white M
white L

---
# Tuples as a record
##### Tuples are not only "immutable lists". Tuples do double duty: they can be used as immutable lists and also as records with no field names.

In [12]:
lax_coordinates = (33.9425, -118.408056) # lat and long of airport (LA)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014) # data about name, year, population, etc...
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')] # A list of tuples of the form (country_code, passport_number).

for passport in sorted(traveler_ids): # As we iterate over the list, passport is bound to each tuple
    print(f'{passport[0]}/{passport[1]}')
    print('%s/%s' % passport) # tuple unpacking

BRA/CE342567
ESP/XDA205856
USA/31195855

##### The for loop knows how to retrieve the items of a tuple separately—this is called “unpacking.” Here we are not interested in the second item, so it’s assigned to `_`, a dummy variable:

In [11]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

---
# Tuple Unpacking
##### we assigned `('Tokyo', 2003, 32450, 0.66, 8014)` to city, year, pop, etc in a single statement. Then, `print('%s/%s' % passport)`, the `%` operator assigned each item in the passport tuple to one slot in the format string in the print argument. Those are two examples of tuple unpacking.

In [29]:
# example 1:
lax_coordinates = (33.9425, -118.408056)
lat, long = lax_coordinates # TUPLE UNPACKING [parallel assignment]
lat # 33.9425
long # -118.408056

# example 2:
# b, a = a, b

#example 3:
t = (20, 8)
quot, rem = divmod(*t)
print(quot, rem)

2 4

##### `os.path.split()` function builds a tuple (path, last_part) from a filesystem path:

In [31]:
# example 4:
import os
_, filename = os.path.split('/home/USERNAME/bin/haxor.exe') # Sometimes when we only care about certain parts of a tuple when unpacking, 
                                                            # a dummy variable like _ is used as placeholder
filename

'haxor.exe'

##### Another way of focusing on just some of the items when unpacking a tuple is to use the `*`

In [39]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

---
# Nested Tuple Unpacking

In [45]:
metro_areas = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), 
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
 ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
 ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
 ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [51]:
# my test smaller example for full understanding
metro_areas = [
 ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), 
 ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
]
for name, cc, pop, (lat, long) in metro_areas:
    print(name, lat, long)

Tokyo 35.689722 139.691667
Delhi NCR 28.613889 77.208889

#### As designed, tuples are very handy. But there is a missing feature when using them as records: sometimes it is desirable to name the fields. That is why the namedtuple function was invented. Read on.

---
# Named Tuples

##### Two parameters are required to create a named tuple: `a class name` and `a list of field names`, which can be given as an iterable of strings or as a single spacedelimited string.

In [56]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates') # a class name and a list of field names
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo # City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))
tokyo.population # 36.933

36.933

##### A named tuple type has a few attributes in addition to those inherited from tuple:
<ul>
    <li>the _fields class attribute</li>
    <li>the class method _make (iterable)</li>
    <li>and the _asdict() instance method</li>
</ul>

In [63]:
City._fields

('name', 'country', 'population', 'coordinates')

In [64]:
LatLong = namedtuple('LatLong', 'lat long') # a tuple with the field names of the class
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data) # _make() allow you to instantiate a named tuple from an iterable
delhi._asdict() # _asdict() returns a collections.OrderedDict built from the named tuple instance. 
                # That can be used to produce a nice display of city data

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [65]:
for k, v in delhi._asdict().items():
    print(k + ': ', v)

name:  Delhi NCR
country:  IN
population:  21.935
coordinates:  LatLong(lat=28.613889, long=77.208889)

##### Now that we’ve explored the power of tuples as records, we can consider their second role as an **immutable** variant of the list type.
---
# Tuples as Immutable Lists

##### tuple supports all list methods that do not involve adding or removing items

<table style="">
<tr>
<th>method</th>
<th>list</th>
<th>tuple</th>
<th>explanation</th>
</tr>

<tr>
<td>s.__add__(s2)</td>
<td>●</td>
<td>●</td>
<td>s + s2—concatenation</td>
</tr>

<tr>
<td>s.__iadd__(s2)</td>
<td>●</td>
<td></td>
<td>s += s2—in-place concatenation</td>
</tr>
    
<tr>
<td>s.append(e)</td>
<td>●</td>
<td></td>
<td>Append one element after last</td>
</tr>
</table>

---
# Slicing

In [99]:
invoice = """
0.....6.................................40........52...55........
1909  Pimoroni PiBrella                   $17.50    3    $52.50
1489  6mm Tactile Switch x20              $4.95     2    $9.90
1510  Panavise Jr. - PV-201               $28.00    1    $28.00
1601  PiTFT Mini Kit 320x240              $34.95    1    $34.95
"""
SKU = slice(0, 6)
DESCRIPTION = slice(6, 40)
UNIT_PRICE = slice(40, 52)
QUANTITY = slice(52, 55)
ITEM_TOTAL = slice(55, None)
line_items = invoice.split('\n')[2:] # notice how smart slicing is used here
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

  $17.50     Pimoroni PiBrella
  $4.95      6mm Tactile Switch x20
  $28.00     Panavise Jr. - PV-201
  $34.95     PiTFT Mini Kit 320x240

### Assigning to Slices

In [104]:
l = list(range(10)) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
l[2:5] = [20, 30]   # [0, 1, 20, 30, 5, 6, 7, 8, 9]
del l[5:7]          # [0, 1, 20, 30, 5, 8, 9]
l[3::2] = [11, 22]  # [0, 1, 20, 11, 5, 22, 9]
# l[2:5] = 100 # ERROR. When the target of the assignment is a slice, the RIGHT SIDE MUST BE an iterable object, even if it has just one item.
l[2:5] = [100] # OK. [0, 1, 100, 22, 9]

### SIDENOTES: 
<ul>
    <li>Putting mutable items in tuples is NOT A GOOD IDEA: t = (1, 2, [30, 40])</li>
    <li>Inspecting Python bytecode is not too difficult, and is often helpful to see what is
going on under the hood: import dis; dis.dis('s[a] += b')</li>
</ul>

---
# list.sort and the sorted Built-In Function

###### The list.sort method sorts a list in place—that is, WITHOUT making a copy: `LIST_NAME.sort()`
###### The built-in function sorted creates a NEW LIST and returns it: `sorted(LIST_NAME)`
###### Both list.sort and sorted take two optional, keyword-only arguments: REVERSE and KEY (one-argument function that will be applied to each item to produce its sorting key; like key=str.lower or key=len)
<table>
    <th>my_list.sort()</th>
    <th> | </th>
    <th>sorted(my_list)</th>
    <tr>
        <td>CHANGES THE SAME LIST</td>
        <td> | </td>
        <td>CREATES A NEW LIST (so original is not touched)</td>
    </tr>

In [122]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits) # The built-in function sorted creates a NEW LIST, sorts it and returns it

['apple', 'banana', 'grape', 'raspberry']

In [123]:
fruits # show list again and note it "was not touched"

['grape', 'raspberry', 'apple', 'banana']

In [124]:
fruits.sort() # This sorts the list in place, and returns None (which the console omits)
fruits # Now fruits is sorted

['apple', 'banana', 'grape', 'raspberry']

---
# `bisect` module - Managing Ordered Sequences with bisect
##### The bisect module offers two main functions: `bisect` and `insort`. that use the binary search algorithm to quickly find and insert items in any sorted sequence.
#### Searching with bisect: